<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">
    <meta charset="UTF-8">
    <title>后台管理主页</title>
</head>
<body>
<div th:replace="layout/body :: public"></div>
<div class="container-fluid" id="app">
    <div class="row">
        <div th:replace="layout/body :: public1"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">系统运行状态</h1>
            <div class="row placeholders" style="display: flex;justify-content: center">
                <div class="col-xs-6 col-sm-3 placeholder" style="height: 250px">
                    <div id="container0" style="width: 500px;height:500px;left: -117px;top: -130px;"></div>
                    <h4 style="top: -250px;position: relative;">系统内存</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder" style="height: 250px">
                    <div id="container1" style="width: 500px;height:500px;left: -117px;top: -130px;"></div>
                    <h4 style="top: -250px;position: relative;">jvm</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder" style="height: 250px">
                    <div id="container2" style="width: 500px;height:500px;left: -117px;top: -130px;"></div>
                    <h4 style="top: -250px;position: relative;">cpu</h4>
                </div>
            </div>
            <h2 class="sub-header"></h2>
            <el-col :span="24" class="card-box">
                <el-card>
                    <div slot="header">
                        <span><i class="el-icon-monitor"></i> 服务器信息</span>
                    </div>
                    <div class="el-table el-table--enable-row-hover el-table--medium">
                        <table cellspacing="0" style="width: 100%;">
                            <tbody>
                            <tr>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell">服务器名称</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell" v-if="server.sys">{{ server.sys.computerName }}</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell">操作系统</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell" v-if="server.sys">{{ server.sys.osName }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell">服务器IP</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell" v-if="server.sys">{{ server.sys.computerIp }}</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell">系统架构</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell" v-if="server.sys">{{ server.sys.osArch }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell">启动时间</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell" v-if="server.jvm">{{ server.jvm.startTime }}</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell">运行时长</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell" v-if="server.jvm">{{ server.jvm.runTime }}</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="24" class="card-box">
                <el-card>
                    <div slot="header">
                        <span><i class="el-icon-receiving"></i> 磁盘状态</span>
                    </div>
                    <div class="el-table el-table--enable-row-hover el-table--medium">
                        <table cellspacing="0" style="width: 100%;">
                            <thead>
                            <tr>
                                <th class="el-table__cell el-table__cell is-leaf">
                                    <div class="cell">盘符路径</div>
                                </th>
                                <th class="el-table__cell is-leaf">
                                    <div class="cell">文件系统</div>
                                </th>
                                <th class="el-table__cell is-leaf">
                                    <div class="cell">盘符类型</div>
                                </th>
                                <th class="el-table__cell is-leaf">
                                    <div class="cell">总大小</div>
                                </th>
                                <th class="el-table__cell is-leaf">
                                    <div class="cell">可用大小</div>
                                </th>
                                <th class="el-table__cell is-leaf">
                                    <div class="cell">已用大小</div>
                                </th>
                                <th class="el-table__cell is-leaf">
                                    <div class="cell">已用百分比</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody v-if="server.sysFiles">
                            <tr v-for="(sysFile, index) in server.sysFiles" :key="index">
                                <td class="el-table__cell is-leaf">
                                    <div class="cell">{{ sysFile.dirName }}</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell">{{ sysFile.sysTypeName }}</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell">{{ sysFile.typeName }}</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell">{{ sysFile.total }}</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell">{{ sysFile.free }}</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell">{{ sysFile.used }}</div>
                                </td>
                                <td class="el-table__cell is-leaf">
                                    <div class="cell" :class="{'text-danger': sysFile.usage > 80}">{{ sysFile.usage
                                        }}%
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </el-card>
            </el-col>
        </div>
    </div>
</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/elementui.js"></script>
<script src="/js/echarts.min.js"></script>
<script>
    var v = new Vue({
        el: "#app",
        data: {
            server: '',
            metricsKey: [],
            metricsValue: [{}],
            option0: {//内存
                tooltip: {
                    trigger: 'item'
                },
                series: [
                    {
                        name: '',
                        type: 'pie',
                        radius: '50%',
                        data: [
                            {value: 65, name: '空闲大小'},
                            {value: 35, name: '正在使用'},
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        },
                        label: {
                            normal: {
                                show: true,
                                position: 'inner',
                                formatter: '{b}:{c}G',
                                textStyle: {
                                    fontWeight: 200,
                                    fontSize: '12'
                                }
                            },
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                    }
                ]
            },
            option1: {//jvm
                tooltip: {
                    trigger: 'item'
                },
                series: [
                    {
                        name: '',
                        type: 'pie',
                        radius: '50%',
                        data: [
                            {value: 65, name: '空闲大小'},
                            {value: 35, name: '正在使用'},
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        },
                        label: {
                            normal: {
                                show: true,
                                position: 'inner',
                                formatter: '{b}:{c}MB',
                                textStyle: {
                                    fontWeight: 200,
                                    fontSize: '11'
                                }
                            },
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                    }
                ]
            },
            option2: {//cpu
                tooltip: {
                    trigger: 'item'
                },
                series: [
                    {
                        name: '',
                        type: 'pie',
                        radius: '50%',
                        data: [
                            {value: 65, name: '空闲大小'},
                            {value: 35, name: '正在使用'},
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        },
                        label: {
                            normal: {
                                show: true,
                                position: 'inner',
                                formatter: '{b}:{c}%',
                                textStyle: {
                                    fontWeight: 200,
                                    fontSize: '12'
                                }
                            },
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                    }
                ]
            },
        },
        mounted() {
            var dom = document.getElementById('container2');
            this.myChart2 = echarts.init(dom, null, {
                renderer: 'canvas',
                useDirtyRect: false
            });

            var dom = document.getElementById('container1');
            this.myChart1 = echarts.init(dom, null, {
                renderer: 'canvas',
                useDirtyRect: false
            });

            var dom = document.getElementById('container0');
            this.myChart0 = echarts.init(dom, null, {
                renderer: 'canvas',
                useDirtyRect: false
            });
        },
        methods: {
            findResfood() {
                axios.get("resfood/sys").then(res => {
                    this.server = res.data.data;
                    let data2 = [{name: "用户使用率", value: res.data.data.cpu.used},
                        {name: "系统使用率", value: res.data.data.cpu.sys},
                        {name: "当前空闲率", value: res.data.data.cpu.free}];
                    this.option2.series[0].data = data2;
                    this.myChart2.setOption(this.option2);

                    let data1 = [{name: "jvm已用内存", value: res.data.data.jvm.used},
                        {name: "jvm剩余内存", value: res.data.data.jvm.free}];
                    this.option1.series[0].data = data1;
                    this.myChart1.setOption(this.option1);

                    let data0 = [{name: "系统已用内存", value: res.data.data.mem.used},
                        {name: "系统剩余内存", value: res.data.data.mem.free}];
                    this.option0.series[0].data = data0;
                    this.myChart0.setOption(this.option0);
                })
            }
        },
        created() {
            this.findResfood();
        }
    })
</script>
</html>