<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">
    <meta charset="UTF-8">
    <title>后台管理主页</title>
</head>
<body>
<div th:replace="layout/body :: public"></div>
<div class="container-fluid" id="app">
    <div class="row">
        <div th:replace="layout/body :: public1"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">系统运行状态</h1>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>CPU</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>jvm内存</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder" style="height: 100px">
                    <div id="container" style="width: 500px;height:500px;left: 30px;top: -130px;"></div>
                    <h4 style="top: -250px;position: relative;left: 145px;">系统硬盘</h4>
                </div>
            </div>
            <h2 class="sub-header"></h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>服务名</th>
                        <th>总请求数</th>
                        <th>请求成功数</th>
                        <th>请求失败数</th>
                        <th>异常比例</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>resfood</td>
                        <td>10000</td>
                        <td>9973</td>
                        <td>27</td>
                        <td>0.27%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/elementui.js"></script>
<script src="/js/echarts.min.js"></script>
<script>
    var v = new Vue({
        el: "#app",
        data: {
            metricsKey: [],
            metricsValue: [{}],
            option: {
                tooltip: {
                    trigger: 'item'
                },
                series: [
                    {
                        name: '',
                        type: 'pie',
                        radius: '50%',
                        data: [
                            {value: 65, name: '空闲大小'},
                            {value: 35, name: '正在使用'},
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        },
                        label: {
                            normal: {
                                show: true,
                                position:'inner',
                                formatter:'{b}:{c}GB',
                                textStyle:{
                                    fontWeight: 200,
                                    fontSize:'12'
                                }
                            },
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                    }
                ]
            },
        },
        mounted() {
            var dom = document.getElementById('container');
            this.myChart = echarts.init(dom, null, {
                renderer: 'canvas',
                useDirtyRect: false
            });
            this.myChart.setOption(this.option);
        },
        methods: {
            find() {
                axios.get("/resfood/actuator/metrics/").then(res => {
                    this.metricsKey.push(
                        res.data.names[2],  // "disk.free"
                        (res.data.names[3]), //"disk.total"
                        (res.data.names[22]),//"jvm.memory.committed"
                        (res.data.names[23]),//"jvm.memory.max"
                        (res.data.names[25]), //"jvm.memory.used"
                        (res.data.names[35]), //"process.cpu.usage"
                        (res.data.names[39]), //"system.cpu.usage"
                    );
                })
            },
            find1() {
                console.log(this.metricsKey)
                this.metricsKey.forEach((item)=>{
                    axios.get("/resindex/actuator/metrics/" + item).then(res => {;
                        let json = {name: res.data.name, value: (res.data.measurements[0].value/1024/1024/1024).toFixed(4)}
                        this.metricsValue.push(json);
                        console.log(json)
                    })
                })

            },
            find2() {
                console.info(this.metricsKey[1]);
                axios.get("/resorder/actuator/metrics/" + this.metricsKey[1]).then(res => {
                    console.log("i:" + JSON.stringify(res.data));
                    console.log("name:" + res.data.name);
                    console.log("measurements:" + res.data.measurements[0].value);

                    let json = {name: res.data.name, value: res.data.measurements[0].value}
                    this.metricsValue.push(json);
                    console.log(json)
                })
            }
        },
        created() {
            this.find();
            setTimeout(() => {
                this.find1();
                //     this.find2();
            }, 100)
        }
    })
</script>
</html>