<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">
    <meta charset="UTF-8">
    <title>菜品管理</title>
</head>
<body>
<div th:replace="layout/body::public"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="layout/body :: public1"></div>
        <div id="app" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">用户管理</h1>

        </div>
    </div>
</div>

</body>
<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
<script type="text/javascript">
    let vm = new Vue({
        el: "#app",
        data: {

        },
        computed: {
            //计算属性
        },
        methods: {

        },
        created: function () {

        }
    });
</script>
</html>