<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<body>
<div th:replace="layout/body::public"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="layout/body :: public1"></div>
        <div id="app" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">用户管理</h1>
            <template>
                <el-table :data="tableData" height="600" border style="width: 100%" @expand-change="up" :row-key="getRowKeys" :expand-row-keys="expands">
                    <el-table-column type="expand">
                        <template slot-scope="props" >
                            <el-form label-position="left" inline class="demo-table-expand" :key="itemKey">
                                <div v-for=" i in props.row.children">
                                    <el-form-item label="订单号:">
                                        <span>{{i.roid }}</span>
                                    </el-form-item>
                                    <el-form-item label="订单评分:">
                                        <span>{{i.stars}} </span>
                                    </el-form-item>
                                </div>
                                <div style="justify-content: center;display: flex;">
                                    <a href="javascript:void" @click.prevent="clickPage(2,props.row.userid)" style="margin-right: 20px;">第一页</a>
                                    <a href="javascript:void" @click.prevent="clickPage(pagebean.pageno-1,props.row.userid)" style="margin-right: 20px;">上一页</a>
                                    <a href="javascript:void" @click.prevent="clickPage(pagebean.pageno+1,props.row.userid)" style="margin-right: 20px;">下一页</a>
                                    <a href="javascript:void" @click.prevent="clickPage(pagebean.totalpages,props.row.userid)" style="margin-right: 20px;">最后一页</a>
                                   每页{{pagebean.pagesize}}条记录,共{{pagebean.totalpages}}页,当前第{{pagebean.pages}}页
                                </div>
                                <el-form-item label="总订单数:">
                                    <span> {{pagebean.total}}</span>
                                </el-form-item>
                            </el-form>
                        </template>
                    </el-table-column>
                    <el-table-column prop="userid" label="用户id" width="70"></el-table-column>
                    <el-table-column prop="username" label="用户名" width="70"></el-table-column>
                    <el-table-column prop="pwd" label="密码" width="431">
                        <template slot-scope="scope">
                            <el-input show-password v-model="scope.row.pwd"/>
                        </template>
                    </el-table-column>
                    <el-table-column prop="email" label="邮箱" width="291"></el-table-column>
                    <el-table-column fixed="right" label="操作" width="191" style="text-align: center;">
                        <template slot-scope="scope" style="justify-items: center;display: flex">
                            <el-button v-if="scope.row.status==0" @click="upStatus(scope.row)" type="danger"
                                       size="small">拉黑</a></el-button>
                            <el-button v-if="scope.row.status==1" type="info" size="small">已经拉黑</a></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
        </div>
    </div>
</div>

</body>
<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/elementui.js"></script>
<script type="text/javascript">
    let vm = new Vue({
        el: "#app",
        data: {
            tableData: [],
            pagebean: {
                pageno: 2,
                pagesize: 3,
                sortby: "userid",
                sort: "desc",
                totalpages: 0,
                total:0,
                pages:1
            },
            itemKey:0,
            expands: [], // 只展开一行放入当前行id
            getRowKeys: (row) => { // 获取当前行id
                return row.userid; // 这里看这一行中需要根据哪个属性值是id
            }

        },
        computed: {
            //计算属性
        },
        methods: {
            up:function (row,expandedRows){
                // 每次只展开一行
                let that = this;
                if (expandedRows.length) {
                    that.expands = []
                    if (row) {
                        that.expands.push(row.userid)
                    }
                } else {
                    that.expands = []
                }

                axios.get("resorder/findByUid", {
                    params: {
                        userid: row.userid,
                        pageno: this.pagebean.pageno-1,
                        pagesize: this.pagebean.pagesize,
                        sortby: this.pagebean.sortby,
                        sort: this.pagebean.sort,
                    }
                }).then(res => {
                    for (let i = 0; i <this.tableData.length; i++) {
                        if (this.tableData[i].userid==res.data.data.records[0].userid){
                            this.tableData[i].children=res.data.data.records;
                        }
                    }
                    let i=res.data.data.total%res.data.data.size;
                    this.pagebean.totalpages=i;
                    this.pagebean.total=res.data.data.total;
                    this.pagebean.pages=res.data.data.current;
                    this.itemKey = Math.random();
                })
            },
            clickPage: function (pageno,userid) {
                    axios.get("resorder/findByUid", {
                        params: {
                            userid: userid,
                            pageno: pageno-1,
                            pagesize: this.pagebean.pagesize,
                            sortby: this.pagebean.sortby,
                            sort: this.pagebean.sort,
                        }
                    }).then(res => {
                        for (let i = 0; i <this.tableData.length; i++) {
                            if (this.tableData[i].userid==res.data.data.records[0].userid){
                                this.tableData[i].children=res.data.data.records;
                            }
                        }
                        let i=res.data.data.total%res.data.data.size;
                        this.pagebean.totalpages=i;
                        this.pagebean.total=res.data.data.total;
                        this.pagebean.pages=res.data.data.current;
                        this.itemKey = Math.random();
                    })

            },
            upStatus(i) {
                axios.get("resuser/upStatus", {
                    params: {
                        userid: i.userid,
                        username: i.username,
                        pwd: i.pwd
                    }
                }).then(res => {
                    this.$message(res.data.msg);
                })
            },
            findAll() {
                axios.get("resuser/findAll").then(res => {
                    this.tableData = res.data.data;
                    this.tableData.forEach((i) => {
                        axios.get("resorder/findByUid", {
                            params: {
                                userid: i.userid,
                                pageno: this.pagebean.pageno-1,
                                pagesize: this.pagebean.pagesize,
                                sortby: this.pagebean.sortby,
                                sort: this.pagebean.sort,
                            }
                        }).then(res => {
                            i.children = res.data.data.records;
                            let m=res.data.data.total%res.data.data.size;
                            this.pagebean.totalpages=m;
                            this.pagebean.total=res.data.data.total;
                        })
                    })
                })
            }
        },
        created: function () {
            this.findAll();
        }
    });
</script>
</html>