<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<body>
<div th:replace="layout/body::public"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="layout/body :: public1"></div>
        <div id="app" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">用户管理</h1>
            <template>
                <el-table :data="tableData" height="600" border style="width: 100%">
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form label-position="left" inline class="demo-table-expand">
                                <div v-for=" i in props.row.children">
                                    <el-form-item label="订单号:">
                                        <span>{{i.roid }}</span>
                                    </el-form-item>
                                    <el-form-item label="订单评分:">
                                        <span>{{i.stars}} </span>
                                    </el-form-item>
                                </div>
                                <div style="justify-content: center;display: flex;">
                                    <a href="javascript:void" @click.prevent="clickPage(1,props.row.userid)" style="margin-right: 20px;">第一页</a>
                                    <a href="javascript:void" @click.prevent="clickPage(pagebean.pageno-1,props.row.userid)" style="margin-right: 20px;">上一页</a>
                                    <a href="javascript:void" @click.prevent="clickPage(pagebean.pageno+1,props.row.userid)" style="margin-right: 20px;">下一页</a>
                                    <a href="javascript:void" @click.prevent="clickPage(pagebean.totalpages,props.row.userid)" style="margin-right: 20px;">最后一页</a>
                                </div>
                                <el-form-item label="总订单数:">
                                    <span> {{totalSumAll(props.row.children)}}</span>
                                </el-form-item>
                            </el-form>
                        </template>
                    </el-table-column>
                    <el-table-column prop="userid" label="用户id" width="70"></el-table-column>
                    <el-table-column prop="username" label="用户名" width="70"></el-table-column>
                    <el-table-column prop="pwd" label="密码" width="431">
                        <template slot-scope="scope">
                            <el-input show-password v-model="scope.row.pwd"/>
                        </template>
                    </el-table-column>
                    <el-table-column prop="email" label="邮箱" width="291"></el-table-column>
                    <el-table-column fixed="right" label="操作" width="191" style="text-align: center;">
                        <template slot-scope="scope" style="justify-items: center;display: flex">
                            <el-button v-if="scope.row.status==0" @click="upStatus(scope.row)" type="danger"
                                       size="small">拉黑</a></el-button>
                            <el-button v-if="scope.row.status==1" type="info" size="small">已经拉黑</a></el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
        </div>
    </div>
</div>

</body>
<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/elementui.js"></script>
<script type="text/javascript">
    let vm = new Vue({
        el: "#app",
        data: {
            tableData: [],
            pagebean: {
                pageno: 2,
                pagesize: 1,
                pre: 1,
                next: 1,
                sortby: "fid",
                sort: "desc",
                total: 0,
                totalpages: 0
            }
        },
        computed: {
            //计算属性
            totalSumAll() {
                return function (m) {
                    return m.length;
                };
            },
        },
        methods: {
            clickPage: function (pageno,userid) {
                if (pageno > this.pagebean.totalpages) {
                    alert("当前就是最后一页")
                } else {
                    var promise = this.showPage(pageno);// promise对象
                    promise.then(result => {
                        // this.displayPage(result.data.data);//result.data就是 jsonModel
                        console.log(result.data)
                    });
                }
            },
            upStatus(i) {
                axios.get("resuser/upStatus", {
                    params: {
                        userid: i.userid,
                        username: i.username,
                        pwd: i.pwd
                    }
                }).then(res => {
                    this.$message(res.data.msg);
                })
            },
            findAll() {
                axios.get("resuser/findAll").then(res => {
                    this.tableData = res.data.data;
                    this.tableData.forEach((i) => {
                        axios.get("resorder/findByUid", {
                            params: {
                                userid: i.userid
                            }
                        }).then(res => {
                            i.children = res.data.data;
                        })
                    })
                })
            }
        },
        created: function () {
            this.findAll();
        }
    });
</script>
</html>